body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #313338;
    margin: 0;
    text-align: left;
    font-family: 'Atkinson Hyperlegible';
}

a {
    color: white;
    animation-name: animation;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    line-height: 130%;
    width: 45vw;
    color: white;
    font-size: 3vw;
    font-family: 'Atkinson Hyperlegible';
    background-color: transparent;
}

@keyframes animation {
    0% {color: lime;}
    50% {color: cyan;}
    100% {color: lime;}
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url(Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf);
}
