body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #313338;
    margin: 0;
    }

    a {
        color: white;
        animation-name: animation;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    div {
        text-transform: uppercase;
        line-height: 130%;
        width: 70vw;
        text-align: center;
        color: white;
        font-size: 3vw;
        font-family: '4x3';
        background-color: transparent;
    }
    
    @keyframes animation {
        0% {color: lime;}
        50% {color: cyan;}
        100% {color: lime;}
    }

    @font-face {
        font-family: '4x3';
        src: url(4x3-pixel/4x3-pixel.ttf);
    }