/* || TEXT */

body {
	background-color: #282a36;
	color: #F8F8F2;
	width: min(90vw, 960px);
	margin: 0 auto;
}

* { font-family: "Space Grotesk"; }

a { color: #8BE9FD; }

/* || NAVBAR */

#header ul {
	display: inline-block;
	list-style-type: none;
	padding: 0;
	width: 100%;
}

#header ul li {
	float: left;
}

#header ul li a {
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
}

#header ul li:hover {
	background-color: #44475A;
}

/* || RESPONSIVENESS */

/* mobile ↓ */
#header h1 { font-size: 20pt; }
#header ul { margin: 0; }
#header ul li a { font-size: 12pt; padding: 3px 10px; }
#splash { display: block; font-size: 9pt; margin-bottom: 10px;}
.box { margin: 0; padding: 0; }

/* desktop ↓ */
@media only screen and (min-width: 600px){
	body { background-image: url("images/bg.png"); }
	body p :not(footer) { text-align: justify; }

	#header h1 { font-size: 30pt; }
	#header ul { margin: 10px; }
	#header ul li a { font-size: 16pt; padding: 5px 20px; }
	#splash { font-size: 12pt; }

	.box {
		background-color: #282a36;
		margin: 40px 0; /* vertical, side */
		padding: 5px 40px 40px; /* top, side, bottom */
		outline: 4px solid #44475A; /* thickness, style, color */
		border-radius: 15px;
	}
}

/* || OBJECTS */

ul img, ol img {
	padding: 20px;
}

#splash { color: #6272A4; }

#profile_pic {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	width: 80px;
	outline: 4px solid #F8F8F2; /* thickness, style, color */
	border-radius: 10px;
}

.link_button img { margin: 10px; }

.link_button img:hover { outline: 4px solid #8BE9FD; /* thickness, style, color */ }

footer {
	text-align: center;
	width: 100vw;
	position: absolute;
	left: 0;
	padding: 20px;
	box-sizing: border-box;
}

/* || UTILITIES */

.image_list { padding: 60px 20px 70px; }

.image_list * { width: min(440px, 100%); display:block; margin: 20px auto; outline: 4px solid #44475A;}

.right { float: right; }

.left { float: left; }

.spaced_list li { margin-bottom: 1em; }

/* || INPUTS */

button {
	background-color: #44475A;
	color: #F8F8F2;
	border: none;
	font-size: 20pt;
	padding: 20px 30px;
	margin: 10px 0px;
}

input[type="text"] {
	background-color: #282a36;
	color: #F8F8F2;
	border: 4px solid #44475A;
	font-size: 20pt;
	padding: 20px 30px;
	margin: 10px 0px;
	border-radius: 10px;
	outline: none;
	max-width: 100%;
	box-sizing: border-box; /* This makes 100% mean full width accounting for the padding of the container */
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: #44475A;
	cursor: pointer;
	width: 400px;
	height: 10px;
	border-radius: 10px;
	margin: 10px 0px;
	max-width: 100%;
	box-sizing: border-box;
}

button:hover { color: #8BE9FD; /* Green */ }