@font-face {
	font-family: "nishiki";
	src: url(fonts/nishiki-teki-lili.ttf);
}

/* PAGE */

@keyframes bg{
  0%{
    transform: translateY(0px);
  }
  100%{
    transform: translate(128px, 128px);
  }
}


body { 
	background-color: #282a36; 
	color: #F8F8F2;
	width: min(90vw, 960px);
	margin: 20px auto;
}

h1 { margin: 20px 0 10px; }
*:not(.sitelen *) { font-family: "Space Grotesk", "sans serif"; }
.sitelen * { font-family: "nishiki"; word-break: break-all;}
.sitelen p, .sitelen a { font-size: 17pt; }
.sitelen h2 { font-size: 27pt; font-weight: normal; }
a { color: #8BE9FD; text-decoration: none; }
p, a, input { font-size: 14pt; }
p { hyphens: auto; }

/* HEADER */
#splash { color: #6272A4; }

#nav { padding: 0; display: flex; margin: 20px 0 0;}
#nav li { list-style: none; flex-grow: 1; text-align: center;}
#nav a { width: 100%; display: inline-block; padding: 10px 0; }

.current { background-color: #44475A; border-radius: 10px;}

/* RESPONSIVENESS */
.left { float: left; margin: 10px 20px 10px 0}
.right { float: right; margin: 10px 0 10px 20px}

.left, .right { width: 20%; }

.box {
	margin: 40px 0;
}

@media only screen and (min-width: 600px){
	.box {
		background-color: #282a36;
		margin: 40px 0; /* vertical, side */
		padding: 5px 40px 30px; /* top, side, bottom */
		outline: 4px solid #44475A; /* thickness, style, color */
		border-radius: 15px;
	}

	/* this is stolen from https://samotny.neocities.org/ */
	#bg { 
		position: fixed;
		z-index: -2;
		top: -50%;
		right: -50%;
		bottom: -50%;
		left: -50%;
		background-image: url('images/bg.png');
		animation: 6s linear infinite bg;
	}

	p { text-align: justify; }
}


/* SPECIFIC */
.john {
	max-width:732px;
	width:100%;
	aspect-ratio: 361 / 42;
	border:none;
	margin: 0 auto 40px;
	display: block;
}

#bucket_webring {
	display: flex;
	list-style: none;
	padding: 0;
}

#bucket_webring a { padding: 0 10px; font-size: min(4vw, 14pt); }

#profile_pic {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
	width: 80px;
	outline: 2px solid #F8F8F2; /* thickness, style, color */
	border-radius: 10px;
}

footer { text-align: center; }
.link_button img { margin: 10px; }
.link_button img:hover { outline: 4px solid #8BE9FD; /* thickness, style, color */ }
.spaced_list li { margin-bottom: 1em; }
.image_list { padding: 20px; display: flex; flex-wrap: wrap; justify-content: center;}
.image_list * { width: min(100%, 250px); object-fit: contain; margin: 20px; }


/* INPUTS */
button {
	background-color: #44475A;
	color: #F8F8F2;
	border: none;
	font-size: 14pt;
	padding: 10px;
	margin: 10px 0px;
	border-radius: 10px;
}

input[type="text"] {
	background-color: #282a36;
	color: #F8F8F2;
	border: 4px solid #44475A;
	padding: 10px;
	margin: 10px 0px;
	border-radius: 10px;
	outline: none;
	max-width: 100%;
	box-sizing: border-box; /* This makes 100% mean full width accounting for the padding of the container */
}

input[type="range"] {
	appearance: none;
	background: #44475A;
	cursor: pointer;
	width: 400px;
	height: 10px;
	border-radius: 10px;
	margin: 10px 0px;
	max-width: 100%;
	box-sizing: border-box;
}

button:hover { color: #8BE9FD; }